.FilmCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%;
    width: 100%;
    text-decoration: none;
    color: black;
}

img {
    width: 70%;
}
